/*-*-*-*-* START CSS *-*-*-*-*/

@font-face {
    font-family: 'dolce';
    src: url('../fonts/dolce.ttf') format('eot'),
    url('../fonts/dolce.woff') format('woff'),
    url('../fonts/dolce.woff2') format('woff2');
    }


/*-*-*-*-* EN CSS *-*-*-*-*/

.title h1 {
    font-size: 2vw;
    color: black;
    text-align: center;
    margin-bottom: 60px;
    font-family: 'Open Sans', sans-serif;
}

.login {
    width: 750px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.login .panel-heading {
    padding: 0;
}

.login .panel-default {
    border-color: transparent;
}

.login .form-group {
    margin-bottom: 0;
}

.login .panel-body {
    padding: 0;
}

.login .panel-default > .panel-heading {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}

.login input {
    margin-bottom: 20px;
}

.login .panel-group {
    margin-top: 30px;
}

/*-*-*-*-* index.php *-*-*-*-*/

body {

    margin:0;
    padding:0;
    background: url(../images/background.jpeg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.vignette{
    margin-top: 30px;
}

.bibliotheque{
    text-align: center;
    color: white;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}

/*-*-*-*-* NAVBAR HEADER *-*-*-*-*/
.navbar {
    background-color: transparent;
    background: transparent;
    border-color: transparent;

}

.navbar-brand {
    font-family: 'dolce';
    font-size: 3em;
}

.navbar-default .navbar-brand {
    color: white;
}

.login .inscription:hover {
    color: purple;
}

.category .image {
    height: 200px;
}

.formThumbnail {
    display: inline-block;
}

.category h1 {
    font-family: "dolce", sans-serif;
    text-align: center;
    margin-bottom: 60px;
    color: white;
}
.btn-danger {
    border-radius: 15px;
    border: none;
    background-color: rgb(86, 115, 154);
}

.btn-danger:hover {
    background-color: rgb(150, 131, 236);
}

.thumbnail {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border: none;
}

.thumbnail .caption {
    color: white;
}

/*-*-*-*-* START MEDIA QUERIES *-*-*-*-*/

@media screen and (max-width: 767px){ /* COL-XS */ 


}

@media screen and (min-width: 768px) AND (max-width: 991px){ /* COL-SM */ 


}

@media screen and (min-width: 992px) AND (max-width: 1199px){ /* COL-MD */


}

@media screen and (min-width: 1200px) { /* MEDIA FOR COL-LG */


}

/*-*-*-*-* END MEDIA QUERIES *-*-*-*-*/
